

<div class="flexit">
{{#each closets.accessories}}

<div class="card-group" style="width: 20rem;">
  <div class="card">

    <a href="/users/{{userId}}/closet/{{closetId}}/accessories"><img class="card-img-top" src="{{img}}" alt="Card image cap"></a>

    <div class="card-body">
      <h5 class="card-title">{{type}}</h5>
      <p class="card-text">{{color}}</p>
    </div>
  </div>
</div>

{{/each}}
</div>
<a href="/users/{{userId}}/closet/{{closetId}}/tops"><button>Add New Accessories</button></a>