

{{#each closets.shoes}}

<div class="card-group" style="width: 20rem;">
  <div class="card">

    <a href="/users/{{_id}}/closet/{{id}}/shoes/{{_id}}"><img class="card-img-top" src="{{img}}" alt="Card image cap"></a>

    <div class="card-body">
      <h5 class="card-title">{{type}}</h5>
      <p class="card-text">{{color}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
{{/each}}
<a href="/users/{{userId}}/closet/{{closetId}}/tops"><button>Add New Shoes</button></a>