<h2 class="text-center">You are viewing</h2>

<h2 class="text-center">Style:{{shoes.type}}</h2>
<h2 class="text-center">Color:{{shoes.color}}</h2>

<img class="rounded mx-auto d-block sizer" src="{{shoes.img}}">

<a href="/users/{{userId}}/closet/{{closetId}}/shoes/{{shoes._id}}/edit"><button type="button" class="btn btn-primary btn-lg btn-block">Edit
        These Shoes</button></a>