<h2 class="text-center">You are viewing</h2>


<h2 class="text-center">Style:{{tops.type}}</h2>
<h2 class="text-center">Color:{{tops.color}}</h2>

<img class="rounded mx-auto d-block" src="{{tops.img}}">

<a href="/users/{{userId}}/closet/{{closetId}}/tops/{{topsId}}/edit"><button type="button" class="btn btn-primary btn-lg btn-block">Edit
        This Shirt</button></a>