<div class="profileSection">
<img src="{{user.img}}" class="userProfile">
<p class="userName">{{user.name}} Welcome to Your Closet</p>

</div>



<div class="card-columns">
  <div class="card">
   <a href="/users/{{userId}}/closet/{{closetId}}/bottoms"> <img src="https://i.pinimg.com/564x/1b/09/6e/1b096ecf8a5e81a4cca3d19ca406b14d.jpg" class="card-img-top"  alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Bottoms</h5>
      <p class="card-text">lorem</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>"I like my money right where I can see it…hanging in my closet." </p>
      <footer class="blockquote-footer">
        <small class="text-muted"> Carrie Bradshaw <cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">

    <a href="/users/{{userId}}/closet/{{closetId}}/tops"><img src="https://i.pinimg.com/564x/2b/fe/fb/2bfefbd9b4723fade64d76031fc55096.jpg" alt="Card image of a shirt"></a>
    <div class="card-body">
      <h5 class="card-title">Tops</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>"What you wear is how you present yourself to the world, especially today, when human contacts are so quick. Fashion is instant language."</p>
      <footer class="blockquote-footer">
        <small>
           Miuccia Prada <cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>
 
  <div class="card">
    <a href="/users/{{userId}}/closet/{{closetId}}/shoes"><img class="card-img" src="https://i.pinimg.com/564x/98/3f/a3/983fa30c0eb729a431015e256b894d43.jpg" alt="Card image"></a>
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>"You can have anything you want in life if you dress for it." — Edith Head.
</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Accessories</h5>
          <a href="/users/{{userId}}/closet/{{closetId}}/accessories"><img class="card-img" src="https://i.pinimg.com/564x/56/5a/75/565a758ffa0f8118487a413ef37a76cf.jpg" alt="Card image"></a> 
      <a href="#"><p class="card-text">View My Accessories.</p></a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

