
<h2 class="text-center">You are viewing</h2>


<h2 class="text-center">Style:{{bottoms.type}}</h2>
<h2 class="text-center">Color:{{bottoms.color}}</h2>

<img class="rounded mx-auto d-block" src="{{bottoms.img}}">

<a href="/users/{{userId}}/closet/{{closetId}}/bottoms/{{bottomsId}}/edit"><button type="button" class="btn btn-primary btn-lg btn-block">Edit
        These Bottoms</button></a>